{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Status</title>
        <link rel="stylesheet" href="{% static 'location/maps.css'%}?{% now "U" %}" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <section class="header">
            <nav>
                <img src="/static/crime_report/logo.png">
                <div class="nav-links" id="navLinks">
                    <i class="fa fa-times" onclick="hideMenu()"></i>
                        <ul>
                            <li><a href="{% url 'home' %}">HOME</a></li>
                            <li><a href="{% url 'feed' %}">NEWS</a></li>
                            <li><a href="{% url 'login' %}">LOGIN</a></li>
                            <li><a href="{% url 'complaint' %}">COMPLAINT</a></li>
                            <li><a href="{% url 'status' %}">STATUS</a></li>
                            <li><a href="{% url 'location' %}">LOCATION</a></li>
                        </ul>
                </div>
                <i class="fa fa-bars" onclick="showMenu()"></i>
            </nav>
        </section>
    </body>
</html>