Django
python-decouple
django-crispy-forms
crispy-bootstrap5
django-cors-headers
djangorestframework
djangorestframework-simplejwt
drf-spectacular
psycopg2-binary
dj-database-url
celery
redis
django-celery-beat
django-celery-results
boto3
django-storages
django-otp
qrcode
newsapi-python
folium
geocoder
Pillow
python-dotenv
gunicorn
whitenoise
django-debug-toolbar